# Everything but Dart
*
!.gitignore
!*/
!*.dart
!*.kts
screenshots

build
Generated.xcconfig
flutter_export_environment.sh


# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
