name: clusterup
description: Display cluster health

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.5.0+8

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  ssh2: ^2.2.3          # MIT https://pub.dev/packages/ssh2/license
  pointycastle: ^3.5.2  # MPL https://github.com/PointyCastle/pointycastle/blob/master/LICENSE
  asn1lib: ^1.1.0       # BSD https://github.com/wstrange/asn1lib/blob/master/LICENSE
  sqflite: ^2.0.0+4     # MIT https://github.com/tekartik/sqflite/blob/master/LICENSE
  path: ^1.8.0          # BSD https://github.com/dart-lang/path/blob/master/LICENSE
  intl:                 # BSD https://pub.dev/packages/intl/license
  http_server:          # BSD https://github.com/dart-lang/http_server/blob/master/LICENSE
  path_provider: ^2.0.9 # BSD https://github.com/flutter/plugins/blob/master/packages/path_provider/path_provider/LICENSE
  font_awesome_flutter: ^10.1.0 # MIT https://github.com/fluttercommunity/font_awesome_flutter/blob/master/LICENSE.md
  url_launcher: ^6.0.20 # BSD https://github.com/flutter/plugins/blob/master/packages/url_launcher/url_launcher/LICENSE
  package_info: 2.0.2   # BSD https://github.com/flutter/plugins/blob/master/packages/package_info/LICENSE
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4 # MIT https://github.com/flutter/cupertino_icons/blob/master/LICENSE

dev_dependencies:
  flutter_launcher_icons:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: any

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# update with
# flutter packages pub run flutter_launcher_icons:main
flutter_icons:
  ios: true
  android: true
  image_path_ios: "res/launcher/icon.png"
  image_path_android: "res/launcher/icon.png"
  adaptive_icon_background: "res/launcher/background.png"
  adaptive_icon_foreground: "res/launcher/foreground.png"

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - res/web/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
